/* черный  #000000*/
/* синий  #2196F3*/
/* светло-черный #212121*/
/* серый #757575*/
/* белый #FFFFFF*/
:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #ffffff;
  --background-color-hero: #2f303a;
  --background-color-hero-btn: #2196f3;
  --background-color-team: #f5f4fa;
  --background-color-footer: #2f303a;
  --hover-color-hero-btn: #188ce8;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}
body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}
.nav-list-link.current {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Компонентные элементы */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.accent-logo {
  color: var(--accent-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

/* Шапка сайта */
.header {
  background: var(--background-color);
}
.header-logo {
  color: var(--primary-black-color);
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}
.contacts-mail,
.contacts-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--accent-color);
}
.contacts-phone:hover,
.contacts-phone:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background-color: var(--background-color-hero);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--background-color-hero-btn);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color-hero-btn);
}

/* Особенности */
.description-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description-list-text {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Чем занимаемся */

/* Команда */
.team {
  background: var(--background-color-team);
}
.team-card {
  background: var(--background-color);
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-member-profession {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Подвал сайта */
.footer {
  background: var(--background-color-footer);
}
.footer-logo {
  color: var(--primary-white-color);
}
.contact-list-link.address {
  color: var(--primary-white-color);
}
.contact-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}
.contact-list-link.mail:hover,
.contact-list-link.mail:focus {
  background-color: var(--accent-color);
}
.contact-list-link.phone:hover,
.contact-list-link.phone:focus {
  background-color: var(--accent-color);
}

/* Портфолио */
.portfolio-nav-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-color);
}
.portfolio-nav-btn:hover,
.portfolio-nav-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.portfolio-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-card-text {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
